<% if (cartItem.bookName.length> 40) { %>
<% bookName=cartItem.bookName.substr(0, 40) + "..." %>
<% } else { %>
<% bookName=cartItem.bookName %>
<% } %>

<div class="item" id="<%- cartItem.bookId %>" value="<%- cartItem.curQuantity %>">
  <div class="checkbox">
    <input type="checkbox" id="1" name="item" value="item" class="bagInput" />
  </div>

  <div class="image">
    <img src="<%= cartItem.imageUrl %>" alt="" />
  </div>

  <div class="description">
    <span>
      <%= bookName %>
    </span>
  </div>

  <div class="quantity">
    <button class="plus-btn" type="button" name="button">
      <img src="/icons/plus.svg" alt="" />
    </button>
    <input type="text" name="name" value="1" />
    <button class="minus-btn" type="button" name="button">
      <img src="/icons/minus.svg" alt="" />
    </button>
  </div>

  <div class="total-price">
    <%= cartItem.price %>đ
  </div>

  <div class="buttons">
    <span class="delete-btn"></span>
  </div>
</div>